.panda-bg-info {
    background-color: #c6d313;
}

.categories img {
    width: 100px;
}

.panda-btn-buy-now {
    background-color: rgb(185, 70, 70);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    transition: all 0.3s;
}

.panda-btn-buy-now:hover {

    background-color: #34d314;

}